html {
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  position: absolute;
}

#caption {
  /*font-family: 'Reenie Beanie', cursive;*/
  /*font-family: 'Amatic SC', cursive;*/
  font-family: 'Nothing You Could Do', cursive;
  /*font-family: 'Waiting for the Sunrise', cursive;*/
  /*font-family: 'Loved by the King', cursive;*/

  /*font-size: 1.2em;*/

  background-color: #fff;
  color: #000;

  padding: 7px 10px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  opacity: .75;
}

#caption a {
  color: gray;
  text-decoration: none !important;
}

#caption a:hover {
  color: black;
}

/* polaroid experiment
.container {
  text-align: center;
  padding-top: 100px;
}

#cloud-photo {
  width: 250px;
  height: 275px;
  background-color: #fff;
  border: 10px white solid;
  border-bottom: 40px white solid;
  text-align: center;
  display: inline-block;

  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  display: none;
}

#cloud-photo img {
  padding: 0;
  border: 0;
}*/