{% extends "layout.html.j2" %}

{% block htmltags %}
	style="background-image:url( {{ cloud.url }} )"
{% endblock %}

{% block stylesheets %}
	<link href="../../css/style.css" rel="stylesheet">
	<link href="../../css/single.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% endblock %}